<!doctype html>
<html lang="pt-br" ng-app="scl_monitor">
	
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="vendor/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
		<meta charset="UTF-8">
	</head>

	<body ng-controller="ServicesController">


		<div class="container">
			<table class="bordered highlight">
				
				<thead>
					<tr>
						<th> Status </th>
						<th> Nome </th>
						<th> Tipo </th>
						<th> Ultima Atualização </th>
						<th> Erros </th>
					</tr>
				</thead>

				<tbody>
					
					<tr ng-repeat="service in services">
						<td>
							
						<i class="material-icons {{service.icon.color}}-text" > {{service.icon.icon}} </i>
						</td>
						<td>{{service.name}}</td>
						<td>{{service.type}}</td>
						<td>{{service.updated}}</td>
						<td>{{service.qtd_errors}}</td>
					</tr>

				</tbody>

			</table>
		</div>

		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/jquery/dist/jquery.js"></script>
		<script src="vendor/Materialize/dist/js/materialize.js"></script>
		<script src="js/main.js"></script>
		<script src="js/services/services.js"></script>
		<script src="js/controllers/services.js"></script>

	</body>

</html>